<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
      <p>made with Vue.js by Ninjin :)</p>
    </header>

    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>

      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>

      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner == 'player'">You won, well done!</h3>
        <h3 v-else-if="winner == 'monster'">You lost, you need more practice!</h3>
        <h3 v-else>It's a draw, try again?</h3>
        <button @click="restartGame()">Restart Game</button>
      </section>

      <section id="controls" v-if="!winner">
        <button @click="attackMonster()">ATTACK</button>
        <button :disabled="isSpecialAttackAvailable" @click="specialAttackMonster()">SPECIAL ATTACK</button>
        <button :disabled="isHealAvailable" @click="healPlayer()">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>
      
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>

          <li v-if="winner == 'player'">You've won the battle, congrats soldier.</li>
          <li v-else-if="winner == 'monster'">You've lost the battle soldier, try again harder.</li>
          <li v-else-if="winner == 'draw'">It's a draw, retreat and try again for a victory.</li>

          <li v-for="log in logArray">
            <span>
              <span :class="log.actionBy == 'Player' ? 'log--player' : 'log--monster'">{{ log.actionBy }}</span>
              <span> uses {{ log.actionType }}</span>
              <span :class="log.actionEffect == 'damage!' ? 'log--damage' : 'log--heal'">{{ log.actionValue }} {{ log.actionEffect }}</span>
            </span>
          </li>

          <li v-if="logArray.length != 0">A new game has started.</li>

        </ul>
      </section>
    </div>

  </body>
</html>
